[Unit]
Description=Retry BT keyboard connection

[Timer]
OnBootSec=5s
OnUnitActiveSec=10s
Unit=bt-reconnect.service

[Install]
WantedBy=timers.target
